VITE_SUPABASE_URL=https://nhqkjqjljcrzvdzrmjqp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ocWtqcWpsamNyenZkenJtanFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwODEwNTAsImV4cCI6MjA5MzY1NzA1MH0.bhJVHMwEFvzCQJowKKV3OfQXub5rsx2WORNTDx9fKoA